In [1]:
import pandas as pd

In [2]:
# xlsx 확장자 파일 목록 가져오기

import os

files = []

for i in os.listdir():
    if i.endswith('.xlsx'):
        files.append(i)
        
print(files)

['전처리(22.04.03).xlsx', 'Preprocessed.xlsx', 'result.xlsx']

In [3]:
data = pd.read_excel(files[0]) # 데이터 불러오기
features = data.columns.tolist() # 칼럼 이름들 리스트화

In [4]:
features_to_remove = ['자치구', '동', '안심택배함수'] # x 데이터에 들어가지 않을 칼럼들

for i in features_to_remove:
    try:
        features.remove(i)
    except:
        print('There is no column named + ' +  i)

In [5]:
# x, y 분리하여 DataFrame 객체 생성

x = pd.DataFrame()

# x DataFrame에 데이터 복사

for i in features:
    try:
        x[i] = ''
        x[i] = data[i].astype(float)
    except:
        print(i)
        
# y DataFrame에 데이터 복사

y = data['안심택배함수'].astype(int)

In [6]:
# 성분의 크기에 따른 분산량 왜곡을 막기 위한 표준화 패키지

from sklearn.preprocessing import StandardScaler

In [7]:
# StandardScaler 객체를 생성해 표준화 진행 후 DataFrame으로 변환하여 저장

x_trans = StandardScaler().fit_transform(x.values)
x_trans = pd.DataFrame(x_trans, columns = features)

In [8]:
# 선형 차원 축소 중 주성분 분석 (Principal Component Analysis) 패키지

from sklearn.decomposition import PCA

In [9]:
# 주성분 분석을 통해 적절한 수준의 설명력을 가진 주성분 수 선정

for i in range(10,15):
    pca = PCA(n_components = i)
    pca.fit_transform(x_trans)
    print('The number of Principal components : {} \n Explained Variance Ratios : {} \n The Sum of Explained Variance Ratios : {}'
      .format(i, pca.explained_variance_ratio_, sum(pca.explained_variance_ratio_)))
    print()

The number of Principal components : 10
 Explained Variance Ratios : [0.24551941 0.13881536 0.11325475 0.09884774 0.07043014 0.05871246
 0.04186105 0.03976766 0.03176228 0.02947055]
 The Sum of Explained Variance Ratios : 0.8684413984029842

The number of Principal components : 11
 Explained Variance Ratios : [0.24551941 0.13881536 0.11325475 0.09884774 0.07043014 0.05871246
 0.04186105 0.03976766 0.03176228 0.02947055 0.02865634]
 The Sum of Explained Variance Ratios : 0.8970977344066479

The number of Principal components : 12
 Explained Variance Ratios : [0.24551941 0.13881536 0.11325475 0.09884774 0.07043014 0.05871246
 0.04186105 0.03976766 0.03176228 0.02947055 0.02865634 0.02517014]
 The Sum of Explained Variance Ratios : 0.9222678780651069

The number of Principal components : 13
 Explained Variance Ratios : [0.24551941 0.13881536 0.11325475 0.09884774 0.07043014 0.05871246
 0.04186105 0.03976766 0.03176228 0.02947055 0.02865634 0.02517014
 0.01891235]
 The Sum of Explained Variance Ratios : 0.9411802259088426

The number of Principal components : 14
 Explained Variance Ratios : [0.24551941 0.13881536 0.11325475 0.09884774 0.07043014 0.05871246
 0.04186105 0.03976766 0.03176228 0.02947055 0.02865634 0.02517014
 0.01891235 0.01422992]
 The Sum of Explained Variance Ratios : 0.9554101422831782

In [10]:
# 주성분 12개가 설명력 0.9를 처음 초과하므로 11개를 선택했다.
# 선택할 설명력 수준은 추후 논의

n = 12
pca = PCA(n_components = n)
pca_values = pca.fit_transform(x_trans)

print('The number of Principal components : {} \n Explained Variance Ratios : {} \n The Sum of Explained Variance Ratios : {}'
  .format(n, pca.explained_variance_ratio_, sum(pca.explained_variance_ratio_)))

The number of Principal components : 12
 Explained Variance Ratios : [0.24551941 0.13881536 0.11325475 0.09884774 0.07043014 0.05871246
 0.04186105 0.03976766 0.03176228 0.02947055 0.02865634 0.02517014]
 The Sum of Explained Variance Ratios : 0.9222678780651069

In [11]:
names = []
ch = 'PC '
for i in range(1, n + 1):
    names.append(ch + str(i))

In [12]:
# Data Frame으로 변환 후 csv 파일로 출력

principal_df = pd.DataFrame(data = pca_values, columns = names)
#principal_df.to_csv('Full_PCA.csv', encoding = 'cp949') # cp949는 한글 인코딩

In [13]:
import numpy as np

#각 주성분 상관 분석

high = []

for i in names:
    print(' The number of principal components : {} \n Correlation with y : {}'.format(i, np.corrcoef(principal_df[i], y)[0,1]))
    print()
    if abs(np.corrcoef(principal_df[i], y)[0,1]) > 0.1:
        high.append(i)

print(high)

 The number of principal components : PC 1
 Correlation with y : 0.18988064187187953

 The number of principal components : PC 2
 Correlation with y : 0.21315694984571298

 The number of principal components : PC 3
 Correlation with y : 0.15010704010347245

 The number of principal components : PC 4
 Correlation with y : 0.018022097357945306

 The number of principal components : PC 5
 Correlation with y : -0.0015220667406586012

 The number of principal components : PC 6
 Correlation with y : -0.018512833144727715

 The number of principal components : PC 7
 Correlation with y : -0.020500378425988085

 The number of principal components : PC 8
 Correlation with y : 0.018664252116240256

 The number of principal components : PC 9
 Correlation with y : -0.006415762807513683

 The number of principal components : PC 10
 Correlation with y : -0.03781451896601686

 The number of principal components : PC 11
 Correlation with y : 0.013510699163539445

 The number of principal components : PC 12
 Correlation with y : -0.0063361947365186124

['PC 1', 'PC 2', 'PC 3']

### 예측

In [14]:
# 선형 회귀 패키지

from sklearn.linear_model import LinearRegression

In [15]:
linear = LinearRegression() # 객체 생성
linear.fit(principal_df, y) # 모델 적합
error_linear = y - linear.predict(principal_df)

In [16]:
# 에러가 -1 미만일 경우 한 개 이상의 무인 택배함이 더 필요하다는 것을 뜻한다. 

lin_reg = pd.DataFrame(columns = ['동', '오차'])
counter = 0
number = 0

for i in error_linear:
    if i < -0.5:
        lin_reg.at[number, '동'] = data.iloc[counter, 1]
        lin_reg.at[number, '오차'] = i
        number += 1
    counter += 1
lin_reg

               동        오차
0    종로1.2.3.4가동 -0.508192
1            이화동 -0.512557
2           숭인2동 -0.518333
3            후암동 -0.604842
4          왕십리2동 -0.508885
..           ...       ...
115         성내3동 -0.677889
116         둔촌1동 -0.554861
117         둔촌2동 -0.697965
118         천호2동 -0.700387
119           길동 -0.838767

[120 rows x 2 columns]

In [17]:
# https://blog.naver.com/PostView.nhn?blogId=ssdyka&logNo=221231456916
# 릿지 회귀에 관한 글
# 릿지 회귀를 위한 패키지

from sklearn.linear_model import Ridge

In [18]:
ridge = Ridge(alpha = 0.5) # alpha 값이 의미하는 것도 정확히 이해되지 않고, 값을 바꿔도 결과는 크게 달라지지 않는 것 같다.
ridge.fit(principal_df, y) # 모델 적합
error_ridge = y - ridge.predict(principal_df)

In [19]:
counter = 0
number = 0

for i in error_ridge:
    if i < -0.5:
        print(' Value : {} \n Index : {} \n Name : {}'.format(i, counter, data.iloc[counter, 1]))
        print()
        number += 1
    counter += 1
print('The number of big error : {}'.format(number))

 Value : -0.5080483733286928
 Index : 7
 Name : 종로1.2.3.4가동

 Value : -0.5124796924110657
 Index : 9
 Name : 이화동

 Value : -0.518289390522176
 Index : 14
 Name : 숭인2동

 Value : -0.6048051236915724
 Index : 32
 Name : 후암동

 Value : -0.5088474635357202
 Index : 48
 Name : 왕십리2동

 Value : -0.5655985753744666
 Index : 49
 Name : 마장동

 Value : -0.5312737839370865
 Index : 60
 Name : 송정동

 Value : -0.9396856864314778
 Index : 66
 Name : 군자동

 Value : -0.9928173431359999
 Index : 68
 Name : 중곡2동

 Value : -0.8966397172394402
 Index : 69
 Name : 중곡3동

 Value : -0.9882634125500833
 Index : 70
 Name : 중곡4동

 Value : -0.7615987388013896
 Index : 71
 Name : 능동

 Value : -0.5304227886756585
 Index : 74
 Name : 구의3동

 Value : -0.9055463494755245
 Index : 76
 Name : 자양1동

 Value : -0.8176793922073684
 Index : 82
 Name : 휘경2동

 Value : -0.6787287083410702
 Index : 83
 Name : 청량리동

 Value : -1.089824833795522
 Index : 84
 Name : 용신동

 Value : -0.5031251781727177
 Index : 87
 Name : 전농2동

 Value : -0.6013365743475213
 Index : 92
 Name : 이문2동

 Value : -0.8145156229778892
 Index : 94
 Name : 면목2동

 Value : -0.7056338051551301
 Index : 97
 Name : 면목7동

 Value : -0.5951219049460138
 Index : 100
 Name : 중화1동

 Value : -1.0278543556668782
 Index : 101
 Name : 중화2동

 Value : -0.6084321419994768
 Index : 102
 Name : 묵1동

 Value : -0.7220576483998682
 Index : 103
 Name : 묵2동

 Value : -0.755451143623894
 Index : 108
 Name : 면목3.8동

 Value : -0.7447757551618164
 Index : 109
 Name : 망우본동

 Value : -0.5865448500425587
 Index : 116
 Name : 정릉3동

 Value : -0.6376977623283814
 Index : 121
 Name : 월곡2동

 Value : -0.7105931780340718
 Index : 123
 Name : 장위2동

 Value : -0.5967352241673858
 Index : 125
 Name : 성북동

 Value : -0.7698124945674736
 Index : 126
 Name : 삼선동

 Value : -0.6229086783444042
 Index : 127
 Name : 동선동

 Value : -0.5750580026241204
 Index : 131
 Name : 번2동

 Value : -1.037191078674538
 Index : 135
 Name : 수유3동

 Value : -0.7021578226560017
 Index : 136
 Name : 삼양동

 Value : -0.779476025595849
 Index : 138
 Name : 송중동

 Value : -1.0793843431345853
 Index : 139
 Name : 송천동

 Value : -0.660354463353708
 Index : 141
 Name : 우이동

 Value : -0.9181371933749158
 Index : 142
 Name : 인수동

 Value : -0.6186521527191029
 Index : 143
 Name : 쌍문1동

 Value : -0.7011321824193755
 Index : 144
 Name : 쌍문2동

 Value : -0.5983439315576397
 Index : 145
 Name : 쌍문3동

 Value : -0.6951777220692804
 Index : 148
 Name : 방학2동

 Value : -0.7024525525165566
 Index : 151
 Name : 창2동

 Value : -0.8909763410300835
 Index : 179
 Name : 갈현2동

 Value : -0.9210856289270366
 Index : 181
 Name : 대조동

 Value : -0.7071573665848513
 Index : 182
 Name : 응암1동

 Value : -0.670630521878319
 Index : 184
 Name : 신사1동

 Value : -0.7309992440620536
 Index : 185
 Name : 신사2동

 Value : -0.9722083967644792
 Index : 189
 Name : 불광2동

 Value : -0.8018845219601991
 Index : 190
 Name : 응암3동

 Value : -0.9362013184384688
 Index : 193
 Name : 홍제1동

 Value : -0.936088502831286
 Index : 201
 Name : 북가좌2동

 Value : -0.9379772108255422
 Index : 204
 Name : 신촌동

 Value : -0.5015688686042367
 Index : 206
 Name : 용강동

 Value : -0.7214403322622847
 Index : 211
 Name : 합정동

 Value : -0.6890611213870047
 Index : 212
 Name : 망원1동

 Value : -0.6616426770633479
 Index : 220
 Name : 공덕동

 Value : -0.7330334149999866
 Index : 223
 Name : 목2동

 Value : -0.6661271479970389
 Index : 225
 Name : 목4동

 Value : -0.6193020446648635
 Index : 228
 Name : 신월3동

 Value : -0.5279874319483523
 Index : 241
 Name : 등촌1동

 Value : -0.5256169316119917
 Index : 242
 Name : 등촌2동

 Value : -1.1331465756893098
 Index : 244
 Name : 화곡본동

 Value : -0.8047683101139237
 Index : 245
 Name : 화곡2동

 Value : -0.7214096679591177
 Index : 248
 Name : 화곡6동

 Value : -0.6217880918928113
 Index : 250
 Name : 가양1동

 Value : -0.5815482123299262
 Index : 256
 Name : 방화2동

 Value : -1.16404279358198
 Index : 258
 Name : 화곡1동

 Value : -0.5333063527621011
 Index : 262
 Name : 구로3동

 Value : -0.6665042781936192
 Index : 264
 Name : 구로5동

 Value : -0.7091611306696298
 Index : 266
 Name : 고척2동

 Value : -0.6402375392697899
 Index : 268
 Name : 개봉3동

 Value : -0.5863787480189883
 Index : 273
 Name : 개봉1동

 Value : -0.9820658894960955
 Index : 279
 Name : 독산3동

 Value : -0.8620960683701404
 Index : 280
 Name : 독산4동

 Value : -0.744435009625869
 Index : 285
 Name : 시흥5동

 Value : -0.5114490480917597
 Index : 287
 Name : 당산1동

 Value : -0.8025747001170296
 Index : 298
 Name : 대림2동

 Value : -0.755803919044063
 Index : 299
 Name : 대림3동

 Value : -0.703742518698172
 Index : 301
 Name : 영등포동

 Value : -1.07908374562172
 Index : 308
 Name : 상도4동

 Value : -0.8539747266814923
 Index : 311
 Name : 사당4동

 Value : -0.5148050909211398
 Index : 312
 Name : 사당5동

 Value : -0.6633243307444697
 Index : 314
 Name : 신대방1동

 Value : -0.5882550609090067
 Index : 315
 Name : 신대방2동

 Value : -0.546895336641564
 Index : 316
 Name : 흑석동

 Value : -0.9945750480866601
 Index : 319
 Name : 보라매동

 Value : -0.6284275945243742
 Index : 320
 Name : 청림동

 Value : -1.0797685753469564
 Index : 321
 Name : 행운동

 Value : -0.8970851096897867
 Index : 322
 Name : 낙성대동

 Value : -0.7884400687988813
 Index : 323
 Name : 중앙동

 Value : -1.1010139125413398
 Index : 327
 Name : 신원동

 Value : -0.8789758358569619
 Index : 328
 Name : 서림동

 Value : -0.5306524024733118
 Index : 331
 Name : 난향동

 Value : -0.7479038241181245
 Index : 334
 Name : 은천동

 Value : -0.5346522195676007
 Index : 335
 Name : 성현동

 Value : -0.999295943958048
 Index : 337
 Name : 난곡동

 Value : -0.6157431416733102
 Index : 338
 Name : 삼성동

 Value : -0.8928700909973495
 Index : 339
 Name : 미성동

 Value : -0.5191427981790069
 Index : 340
 Name : 서초1동

 Value : -0.5839785351728927
 Index : 342
 Name : 서초3동

 Value : -0.5652924953416278
 Index : 354
 Name : 방배4동

 Value : -0.8893405320178251
 Index : 360
 Name : 논현2동

 Value : -0.5396973612625181
 Index : 370
 Name : 개포4동

 Value : -0.5748818060560561
 Index : 380
 Name : 풍납1동

 Value : -0.7049516672616134
 Index : 384
 Name : 마천1동

 Value : -0.5104098877418182
 Index : 386
 Name : 방이1동

 Value : -0.8951838612075949
 Index : 387
 Name : 방이2동

 Value : -0.9325522893603385
 Index : 390
 Name : 송파1동

 Value : -0.5077251564600613
 Index : 394
 Name : 가락본동

 Value : -0.957611075379529
 Index : 399
 Name : 잠실본동

 Value : -0.7481177102227884
 Index : 414
 Name : 천호3동

 Value : -0.9627297246712849
 Index : 416
 Name : 성내2동

 Value : -0.6778317720706726
 Index : 417
 Name : 성내3동

 Value : -0.5547998280703953
 Index : 418
 Name : 둔촌1동

 Value : -0.6979108110195993
 Index : 419
 Name : 둔촌2동

 Value : -0.7003549544042091
 Index : 421
 Name : 천호2동

 Value : -0.8387186113427474
 Index : 422
 Name : 길동

The number of big error : 120

### 분류

In [20]:
# 택배함이 5개 이상 설치된 곳은 한 군데 뿐이므로 분류의 정확도를 위해 4개 이상 택배함이 설치된 행정동은 4개 이상으로 통일한다.

three = 0
four = 0
over = 0

for i in y:
    if i == 3:
        three += 1
    elif i == 4:
        four += 1
    elif i > 4:
        over += 1

print('3 : {}, 4 : {}, 5+ : {}'.format(three, four, over))

y_trans = []

for i in y:
    if i > 4:
        y_trans.append(4)
    else:
        y_trans.append(i)

3 : 9, 4 : 5, 5+ : 1

In [21]:
# 로지스틱 회귀 패키지

from sklearn.linear_model import LogisticRegression

In [22]:
logis = LogisticRegression(max_iter = 100) # max_iter는 수렴을 위한 반복 수이다.
logis.fit(x_trans, y_trans) # 모델 적합
error_logis = y_trans - logis.predict(x_trans)

In [23]:
counter = 0
number = 0
log_reg = pd.DataFrame(columns = ['동', '오차'])
for i in error_logis:
    if i < 0:
        log_reg.at[number, '동'] = data.iloc[counter, 1]
        log_reg.at[number, '오차'] = i
        number += 1
    counter += 1
log_reg

       동  오차
0   휘경2동  -1
1   청량리동  -1
2    용신동  -1
3   중화2동  -1
4    송천동  -1
5    서강동  -1
6    공덕동  -1
7   화곡1동  -1
8   독산3동  -1
9   독산4동  -1
10  시흥5동  -1
11  상도4동  -1
12   신원동  -1
13   삼전동  -3
14  성내2동  -2

In [24]:
# 서포트 벡터 머신 패키지

from sklearn.svm import SVC

In [25]:
svm_lin = SVC(kernel = 'linear') # 선형 커널 객체 생성
svm_lin.fit(x_trans, y_trans) # 모델 적합
error_svm_lin = y_trans - svm_lin.predict(x_trans)

In [26]:
counter = 0
number = 0

for i in error_svm_lin:
    if i < 0:
        print(' Name : {} \n Error : {}'.format(data.iloc[counter, 1], i))
        print()
        number += 1
    counter += 1
    
print('The number of big error : {}'.format(number))

The number of big error : 0

In [27]:
svm_rbf = SVC(kernel = 'rbf') # Residual Basis Function 커널 객체 생성
svm_rbf.fit(x_trans, y_trans) # 모델 적합
error_svm_rbf = y_trans - svm_rbf.predict(x_trans)

In [28]:
counter = 0
number = 0

for i in error_svm_rbf:
    if i < 0:
        print(' Name : {} \n Error : {}'.format(data.iloc[counter, 1], i))
        print()
        number += 1
    counter += 1
    
print('The number of big error : {}'.format(number))

 Name : 휘경2동
 Error : -1

 Name : 용신동
 Error : -1

 Name : 흑석동
 Error : -1

The number of big error : 3

In [29]:
# 랜덤 포레스트 패키지

from sklearn.ensemble import RandomForestClassifier

In [30]:
clf = RandomForestClassifier() # 매개 변수들에 변화를 줄 수 있다. 
clf.fit(x_trans, y_trans) # 모델 적합
error_rf = y_trans - clf.predict(x_trans)

In [31]:
counter = 0
number = 0

for i in error_rf:
    if i < 0:
        print(' Name : {} \n Error : {}'.format(data.iloc[counter, 1], i))
        print()
        number += 1
    counter += 1
    
print('The number of big error : {}'.format(number))

The number of big error : 0

In [32]:
result_full = pd.merge(log_reg, lin_reg, how = 'inner', on = '동')

In [33]:
final_full = pd.merge(data, result_full, how = 'inner', on = '동')

In [34]:
final_full.to_csv('final_full.csv', encoding = 'cp949')