In [1]:
# xlsx 확장자 파일 목록 가져오기

import os

files = []

for i in os.listdir():
    if i.endswith('.xlsx'):
        files.append(i)
        
print(files)

['전처리(22.04.03).xlsx', '전처리(22.04.09).xlsx', 'Preprocessed.xlsx', 'result.xlsx']

In [2]:
import pandas as pd

data = pd.read_excel(files[1]) # 데이터 불러오기
features = data.columns.tolist() # 칼럼 이름들 리스트화

features_to_remove = ['자치구', '동', '안심택배함수'] # x 데이터에 들어가지 않을 칼럼들

for i in features_to_remove:
    try:
        features.remove(i)
    except:
        print('There is no column named + ' +  i)

In [3]:
# x, y 분리하여 DataFrame 객체 생성

x = pd.DataFrame()

# x DataFrame에 데이터 복사

for i in features:
    try:
        x[i] = ''
        x[i] = data[i].astype(float)
    except:
        print(i)
        
# y DataFrame에 데이터 복사

y = data['안심택배함수'].astype(int)

In [4]:
# 성분의 크기에 따른 분산량 왜곡을 막기 위한 표준화 패키지

from sklearn.preprocessing import StandardScaler

In [5]:
# StandardScaler 객체를 생성해 표준화 진행 후 DataFrame으로 변환하여 저장

x_trans = StandardScaler().fit_transform(x.values)
x_trans = pd.DataFrame(x_trans, columns = features)

In [6]:
import numpy as np

x_part = pd.DataFrame()
number = 0

for i in x_trans.columns:
    if abs(np.corrcoef(x_trans[i], y)[0,1]) > 0.1:
        x_part[i] = ''
        x_part[i] = x_trans[i]
        print(' The name of Column : {} \n Correlation : {}'.format(i, np.corrcoef(x_trans[i], y)[0,1]))
        print()
        number += 1
print('The number of factors that have high correlation : {}'.format(number))

 The name of Column : 1인세대
 Correlation : 0.24432119243494568

 The name of Column : 서울 2030 여성 1인가구 수
 Correlation : 0.23585395345760884

 The name of Column : 방범용 CCTV(구별)
 Correlation : 0.18108313594183015

 The name of Column : 다가구주택
 Correlation : 0.23785062712511276

 The name of Column : 아파트
 Correlation : -0.19206281558903143

 The name of Column : 다세대주택
 Correlation : 0.20304688488931716

 The name of Column : 주차장 수
 Correlation : 0.26994525402236

 The name of Column : 길단위 상존인구
 Correlation : 0.11066956134295294

 The name of Column : 주거 인구
 Correlation : 0.12154248222391602

The number of factors that have high correlation : 9

### 상관 계수의 절대값이 0.1 초과인 변수들로만 분석 (Part)

In [7]:
# 선형 회귀 패키지

from sklearn.linear_model import LinearRegression

In [8]:
linear = LinearRegression() # 객체 생성
linear.fit(x_part, y) # 모델 적합
error_linear = y - linear.predict(x_part)

In [14]:
# 오차가 -1 미만일 경우 약 한 개 이상의 무인 택배함이 더 필요하다는 것을 뜻한다. 

counter = 0
number = 0

lin_reg_part = pd.DataFrame(columns = ['동', '오차_part'])

for i in error_linear:
    if i < -1:
        lin_reg_part.at[number, '동'] = data.iloc[counter, 1]
        lin_reg_part.at[number, '오차_part'] = i
        number += 1
    counter += 1

lin_reg_part

      동   오차_part     구
0   군자동 -1.028131   광진구
1  중곡2동 -1.056503   광진구
2   용신동 -1.057446  동대문구
3   신촌동 -1.448973  서대문구
4  가양1동 -1.139688   강서구
5  화곡1동 -1.024133   강서구
6   행운동 -1.388651   관악구
7  낙성대동 -1.031429   관악구
8   신원동 -1.013439   관악구
9  잠실본동 -1.057197   송파구

### 전체 데이터를 활용하여 PCA를 먼저 진행 후 분석

In [10]:
# 선형 차원 축소 중 주성분 분석 (Principal Component Analysis) 패키지

from sklearn.decomposition import PCA

In [11]:
# 주성분 분석을 통해 적절한 수준의 설명력을 가진 주성분 수 선정

for i in range(10,15):
    pca = PCA(n_components = i)
    pca.fit_transform(x_trans)
    print('The number of Principal components : {} \n Explained Variance Ratios : {} \n The Sum of Explained Variance Ratios : {}'
      .format(i, pca.explained_variance_ratio_, sum(pca.explained_variance_ratio_)))
    print()

The number of Principal components : 10
 Explained Variance Ratios : [0.25595151 0.13946289 0.11458294 0.09922999 0.07267361 0.05324653
 0.04010445 0.0385948  0.0333961  0.02934937]
 The Sum of Explained Variance Ratios : 0.8765921812179327

The number of Principal components : 11
 Explained Variance Ratios : [0.25595151 0.13946289 0.11458294 0.09922999 0.07267361 0.05324653
 0.04010445 0.0385948  0.0333961  0.02934937 0.02726393]
 The Sum of Explained Variance Ratios : 0.9038561161823587

The number of Principal components : 12
 Explained Variance Ratios : [0.25595151 0.13946289 0.11458294 0.09922999 0.07267361 0.05324653
 0.04010445 0.0385948  0.0333961  0.02934937 0.02726393 0.02428493]
 The Sum of Explained Variance Ratios : 0.9281410509061345

The number of Principal components : 13
 Explained Variance Ratios : [0.25595151 0.13946289 0.11458294 0.09922999 0.07267361 0.05324653
 0.04010445 0.0385948  0.0333961  0.02934937 0.02726393 0.02428493
 0.02034812]
 The Sum of Explained Variance Ratios : 0.9484891746292397

The number of Principal components : 14
 Explained Variance Ratios : [0.25595151 0.13946289 0.11458294 0.09922999 0.07267361 0.05324653
 0.04010445 0.0385948  0.0333961  0.02934937 0.02726393 0.02428493
 0.02034812 0.01565935]
 The Sum of Explained Variance Ratios : 0.9641485288258732

In [12]:
# 주성분 12개가 설명력 0.9를 처음 초과하므로 11개를 선택했다.
# 선택할 설명력 수준은 추후 논의

n = 12
pca = PCA(n_components = n)
pca_values = pca.fit_transform(x_trans)

print(' The number of Principal components : {} \n Explained Variance Ratios : {} \n The Sum of Explained Variance Ratios : {}'
  .format(n, pca.explained_variance_ratio_, sum(pca.explained_variance_ratio_)))

 The number of Principal components : 12
 Explained Variance Ratios : [0.25595151 0.13946289 0.11458294 0.09922999 0.07267361 0.05324653
 0.04010445 0.0385948  0.0333961  0.02934937 0.02726393 0.02428493]
 The Sum of Explained Variance Ratios : 0.9281410509061345

In [13]:
names = []
ch = 'PC '
for i in range(1, n + 1):
    names.append(ch + str(i))
    
principal_df = pd.DataFrame(data = pca_values, columns = names)

In [14]:
linear = LinearRegression() # 객체 생성
linear.fit(principal_df, y) # 모델 적합
error_linear = y - linear.predict(principal_df)

In [15]:
# 오차가 -1 미만일 경우 약 한 개 이상의 무인 택배함이 더 필요하다는 것을 뜻한다. 

counter = 0
number = 0

lin_reg_full = pd.DataFrame(columns = ['동', '오차_full'])

for i in error_linear:
    if i < -1:
        lin_reg_full.at[number, '동'] = data.iloc[counter, 1]
        lin_reg_full.at[number, '오차_full'] = i
        number += 1
    counter += 1
    
lin_reg_full

       동   오차_full
0    군자동 -1.016802
1    용신동 -1.096107
2   수유3동 -1.114767
3    신촌동 -1.256772
4   화곡본동 -1.093569
5   가양1동 -1.059122
6   화곡1동 -1.095189
7   상도4동 -1.033364
8    행운동 -1.268307
9   낙성대동 -1.008465
10   신원동 -1.061842
11  방이2동 -1.021399
12  잠실본동 -1.089014

In [16]:
union = pd.merge(lin_reg_part, lin_reg_full, on = '동', how = 'outer')

In [17]:
union.to_csv('Final_result.csv', encoding = 'cp949')