In [1]:
import pandas as pd

In [2]:
# xlsx 확장자 파일 목록 가져오기

import os

files = []

for i in os.listdir():
    if i.endswith('.xlsx'):
        files.append(i)
        
print(files)

['전처리(22.04.03).xlsx', 'Preprocessed.xlsx', 'result.xlsx']

In [3]:
data = pd.read_excel(files[0]) # 데이터 불러오기
features = data.columns.tolist() # 칼럼 이름들 리스트화

In [4]:
features_to_remove = ['자치구', '동', '안심택배함수'] # x 데이터에 들어가지 않을 칼럼들

for i in features_to_remove:
    try:
        features.remove(i)
    except:
        print('There is no column named + ' +  i)

In [5]:
# x, y 분리하여 DataFrame 객체 생성

x = pd.DataFrame()

# x DataFrame에 데이터 복사

for i in features:
    try:
        x[i] = ''
        x[i] = data[i].astype(float)
    except:
        print(i)
        
# y DataFrame에 데이터 복사

y = data['안심택배함수'].astype(int)

In [6]:
# 성분의 크기에 따른 분산량 왜곡을 막기 위한 표준화 패키지

from sklearn.preprocessing import StandardScaler

In [7]:
# StandardScaler 객체를 생성해 표준화 진행 후 DataFrame으로 변환하여 저장

x_trans = StandardScaler().fit_transform(x.values)
x_trans = pd.DataFrame(x_trans, columns = features)

In [8]:
import numpy as np

x_part = pd.DataFrame()
number = 0

for i in x_trans.columns:
    if abs(np.corrcoef(x_trans[i], y)[0,1]) > 0.1:
        x_part[i] = ''
        x_part[i] = x_trans[i]
        print(' The name of Column : {} \n Correlation : {}'.format(i, np.corrcoef(x_trans[i], y)[0,1]))
        print()
        number += 1
print(number)

 The name of Column : 1인세대
 Correlation : 0.24432119243494568

 The name of Column : 방범용 CCTV(구별)
 Correlation : 0.18108313594183015

 The name of Column : 다가구주택
 Correlation : 0.23785062712511276

 The name of Column : 아파트
 Correlation : -0.19206281558903143

 The name of Column : 다세대주택
 Correlation : 0.20304688488931716

 The name of Column : 주차장 수
 Correlation : 0.26994525402236

 The name of Column : 서울 2030 여성 1인가구 수(구별)
 Correlation : 0.11799819617363591

 The name of Column : 길단위 상존인구
 Correlation : 0.11066956134295294

 The name of Column : 주거 인구
 Correlation : 0.12154248222391602

9

In [9]:
# 선형 회귀 패키지

from sklearn.linear_model import LinearRegression

In [10]:
linear = LinearRegression() # 객체 생성
linear.fit(x_part, y) # 모델 적합
error_linear = y - linear.predict(x_part)

In [11]:
# 에러가 -1 미만일 경우 한 개 이상의 무인 택배함이 더 필요하다는 것을 뜻한다. 

counter = 0
number = 0
lin_reg = pd.DataFrame(columns = ['동', '오차'])

for i in error_linear:
    if i < -1:
        lin_reg.at[number, '동'] = data.iloc[counter, 1]
        lin_reg.at[number, '오차'] = i
        number += 1
    counter += 1

lin_reg

      동        오차
0  중곡2동  -1.03008
1   용신동 -1.188687
2   신촌동 -1.198404
3  화곡본동 -1.039649
4  화곡1동 -1.067991
5   행운동 -1.278598
6  낙성대동 -1.013084
7   신원동 -1.025057
8  방이2동 -1.033892
9  잠실본동 -1.013252

In [12]:
# https://blog.naver.com/PostView.nhn?blogId=ssdyka&logNo=221231456916
# 릿지 회귀에 관한 글
# 릿지 회귀를 위한 패키지

from sklearn.linear_model import Ridge

In [13]:
ridge = Ridge(alpha = 0.5) # alpha 값이 의미하는 것도 정확히 이해되지 않고, 값을 바꿔도 결과는 크게 달라지지 않는 것 같다.
ridge.fit(x_part, y) # 모델 적합
error_ridge = y - ridge.predict(x_part)

In [14]:
counter = 0
number = 0

for i in error_ridge:
    if i < -1:
        print(' Value : {} \n Index : {} \n Name : {}'.format(i, counter, data.iloc[counter, 1]))
        print()
        number += 1
    counter += 1
print('The number of big error : {}'.format(number))

 Value : -1.0294741792027304
 Index : 68
 Name : 중곡2동

 Value : -1.1875547137776317
 Index : 84
 Name : 용신동

 Value : -1.1968483157803693
 Index : 204
 Name : 신촌동

 Value : -1.0405752913418413
 Index : 244
 Name : 화곡본동

 Value : -1.0687406244828113
 Index : 258
 Name : 화곡1동

 Value : -1.2772193309822604
 Index : 321
 Name : 행운동

 Value : -1.01204079595045
 Index : 322
 Name : 낙성대동

 Value : -1.0247912233422836
 Index : 327
 Name : 신원동

 Value : -1.0330988168858612
 Index : 387
 Name : 방이2동

 Value : -1.0129461180593649
 Index : 399
 Name : 잠실본동

The number of big error : 10

In [15]:
# 택배함이 5개 이상 설치된 곳은 한 군데 뿐이므로 분류의 정확도를 위해 4개 이상 택배함이 설치된 행정동은 4개 이상으로 통일한다.

three = 0
four = 0
over = 0

for i in y:
    if i == 3:
        three += 1
    elif i == 4:
        four += 1
    elif i > 4:
        over += 1

print('3 : {}, 4 : {}, 5+ : {}'.format(three, four, over))

y_trans = []

for i in y:
    if i > 4:
        y_trans.append(4)
    else:
        y_trans.append(i)

3 : 9, 4 : 5, 5+ : 1

In [16]:
# 로지스틱 회귀 패키지

from sklearn.linear_model import LogisticRegression

In [17]:
logis = LogisticRegression(max_iter = 1000)
logis.fit(x_part, y_trans) # 모델 적합
error_logis = y_trans - logis.predict(x_part)

In [18]:
counter = 0
number = 0
log_reg = pd.DataFrame(columns = ['동', '오차'])

for i in error_logis:
    if i < 0:
        log_reg.at[number, '동'] = data.iloc[counter, 1]
        log_reg.at[number, '오차'] = i
        number += 1
    counter += 1

log_reg

       동  오차
0    군자동  -1
1   중곡4동  -1
2   자양1동  -1
3    용신동  -1
4   중화2동  -1
5   수유3동  -1
6    송천동  -1
7   화곡1동  -1
8   대림2동  -1
9    행운동  -1
10   신원동  -1
11   서림동  -1
12   난곡동  -1
13  천호2동  -1

In [19]:
# 서포트 벡터 머신 패키지

from sklearn.svm import SVC

In [20]:
svm_lin = SVC(kernel = 'linear') # 선형 커널 객체 생성
svm_lin.fit(x_part, y_trans) # 모델 적합
error_svm_lin = y_trans - svm_lin.predict(x_part)

In [21]:
counter = 0
number = 0

for i in error_svm_lin:
    if i < 0:
        print(' Name : {} \n Error : {}'.format(data.iloc[counter, 1], i))
        print()
        number += 1
    counter += 1
    
print('The number of big error : {}'.format(number))

The number of big error : 0

In [22]:
svm_rbf = SVC(kernel = 'rbf') # Residual Basis Function 커널 객체 생성
svm_rbf.fit(x_part, y_trans) # 모델 적합
error_svm_rbf = y_trans - svm_rbf.predict(x_part)

In [23]:
counter = 0
number = 0

for i in error_svm_rbf:
    if i < 0:
        print(' Name : {} \n Error : {}'.format(data.iloc[counter, 1], i))
        print()
        number += 1
    counter += 1
    
print('The number of big error : {}'.format(number))

The number of big error : 0

In [24]:
# 랜덤 포레스트 패키지

from sklearn.ensemble import RandomForestClassifier

In [25]:
clf = RandomForestClassifier() # 매개 변수들에 변화를 줄 수 있다. 
clf.fit(x_trans, y_trans) # 모델 적합
error_rf = y_trans - clf.predict(x_trans)

In [26]:
counter = 0
number = 0

for i in error_rf:
    if i < 0:
        print(' Name : {} \n Error : {}'.format(data.iloc[counter, 1], i))
        print()
        number += 1
    counter += 1
    
print('The number of big error : {}'.format(number))

The number of big error : 0

In [27]:
pd.merge(lin_reg, log_reg, how = 'inner', on = '동')

      동      오차_x 오차_y
0   용신동 -1.188687   -1
1  화곡1동 -1.067991   -1
2   행운동 -1.278598   -1
3   신원동 -1.025057   -1